{% extends 'layout.html' %}
{% block title %} Employees {% endblock %}

{% block scripts %}
<script type="text/javascript" src="../dashboard/static/js/table.js"></script>
<script type="text/javascript" src="../dashboard/static/js/employees.js"></script>
{% endblock %}

{% block content %}
  <div class = "col-sm-1" style=" padding-top:80px;">
    <div class="btn-group-vertical">
       <a href="#" class = "selected" class="btn-link">Employees</a>
       <a href="#" class="btn-link">Roles</a>
</div>
  </div>
 
      <!-- button group-->
<div class="btn-group" role="group" aria-label="Basic example">
  <div  class = "px-2">

  <a href="#" class="btn btn-default">Edit</a>
  <a href="#" id="deleteButton" class="btn btn-default">Delete</a>
    <a href="employees/add" class="btn btn-default">Add</a>
  <a href="employees/update" class="btn btn-default">Edit</a>
  <a href="#" class="btn btn-default">Delete</a>
</div>

  <div class="container" style="padding-right:40px; border-left: 2px solid #ccc;">
    <div class="row">
    <div class="col-sm-6" >
  <h1>Employees</h1>
  </div>
  <div class="col-sm-6" >
  <div id="imaginary_container">
      <div class="input-group stylish-input-group">
                    <input type="text" class="form-control"  placeholder="Search" >
                    <span class="input-group-addon">
                        <button type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>  
                    </span>
       </div>
    </div>
    </div>
    </div>
  
    
    <div id = "page_name" name = "employees-table"></div>

    <div class="table table-striped">
        <!-- Generating table for user information --> 
       <table class="table table-striped table-bordered table-hover" id="employees-table">
         <thead><tr><th> <input id='all-checkbox' type='checkbox' name= '' /> Select All </th><th>Name</th><th>Email</th><th>Roles</th><th>Groups</th></tr></thead>
       </table> 
    </div>
  </div>
{% endblock %}