{% extends 'layout.html' %}
{% block title %} login {% endblock %}


{% block scripts %} 
<script type="text/javascript" src="../dashboard/static/js/CreateAccount.js"></script>
{% endblock %}

{% block content %}
<!-- TODO: Need to add loginScreen class to the body of this file -->

<div class="container">
    <h1>Login</h1>
    <hr>
    <div class="row">
        <div class="col-md-offset-5 col-md-3">
            <div class="form-login">
                <h4>Group Assignment Tool</h4>
                <form method = "POST" action="/login">
                    <input type = "text" id="username" name="username"
                        class="form-control input-sm chat-input" placeholder="username" />
                    </br>
                    <input type="password" id="password" name="password"
                        class="form-control input-sm chat-input" placeholder="password" />
                    </br>
                        <div class="wrapper">
                            <span class="group-btn">  
                                <input class="btn btn-primary btn-md" type="submit"
                                    id="login" value="Login" role="button">
                                    
                                <span class="btn btn-link btn-md" id="create_account">
                                    <a href="users/add">
                                        Create Account
                                    </a>
                                </span>
                            </span>
                        </div>
                        </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}