<!DOCTYPE html>
{% extends 'base.html' %}
{% block title %} Sign Up {% endblock %}
{% block content %}
<script src="../static/CreateAccount.js"></script>
<div class="container">
    <h1>Create Account</h1>
    <hr>
    <div class="row">
        <div class="col-md-offset-5 col-md-3">
            <div class="form-login">
                <h4>Group Assignment Tool</h4>
                <form id = "form" method = "POST" >
                    <input type ="text" id="firstname" class="form-control input-sm chat-input" placeholder="First Name" />
                    </br>
                    <input type ="text" id="lastname" class="form-control input-sm chat-input" placeholder="Last Name" />
                    </br>
                    <input type="text" id="email" class="form-control input-sm chat-input" placeholder="Email" />
                    </br>
                    <input type="text" id="username" class="form-control input-sm chat-input" placeholder="Username" />
                    </br>
                    <input type="password" id="password" class="form-control input-sm chat-input" placeholder="Password" />
                    </br>
                   <div>Admin (Yes/No)
                    <input type="checkbox" id="is_admin" class="form-control input-sm chat-input" />
                   </div>
                    </br>
                        <div class="wrapper">
                            <span class="group-btn">     
                            <button class="btn btn-primary btn-md" type ="button"
                                id="Create_Account" value="Create Account">
                                Create Account
                            </button>
                            </span>
                        </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}