{% extends 'base.html' %}
{% block content %}
<!-- Container for the main project logo -->
<div class="container">
  <div class="text-center">
    <!--<div class="col-md-12"></div>-->
    <h2>Group Assingment Tool</h2>
    <div class="row">
      <div class=" col-md-12">
          <a href="#"><img src="static/logos/Three.png" alt="inn_logo"></a>
      </div>
    </div>
  </div>
</div>

<!-- Container that holds the images that link to different parts of the web tool -->
<div class="container">
  <div class="text-center">
    <div class="col-md-12">
      <div class="row">
        <div class="well col-md-4 img-link" style="margin: 0px">
            <a href="../Employeepermissions/Employeepermissions.html"><img src="#" alt="Employess"></a>
        </div>
        <div class="well col-md-4 img-link" style="margin: 0px">
            <a href="#"><img src="#" alt="Roles"></a>
        </div>
        <div class="well col-md-4 img-link" style="margin: 0px">
            <a href="#"><img src="#" alt="Documentation"></a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}