{% extends 'base.html' %}
{% block title %} Login {% endblock %}
{% block content %}
<!-- TODO: Need to add loginScreen class to the body of this file -->
<div class="container">
    <h1>Login</h1>
    <div class="row">
        <div class="col-md-offset-5 col-md-3">
            <div class="form-login">
                <h4>Group Assignment Tool</h4>
                <form action = "../loginDB" method = "POST">
                    <p id="userName" class="form-control input-sm chat-input" placeholder="username" />
                    </br>
                    <input type="password" id="userPassword" class="form-control input-sm chat-input" placeholder="password" />
                    </br>
                        <div class="wrapper">
                            <span class="group-btn">     
                            <input class="btn btn-primary btn-md" type="submit"
                                name="Login" value="Login">
                                <div>
                            <a class="btn btn-primary btn-md" href = "/showcreateaccount"
                                name="Create Account" value="Create Account">
                            </div>
                            </span>
                        </div>
                </form>
            </div>
        </div>
      </div>
    </div>
{% endblock %}